mat-icon {
  cursor: pointer;
}
.action-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.table {
  padding: 20px;
}
.table tbody tr td,
.table thead th,
.table thead {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  text-align: center;
}
.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  vertical-align: middle;
}
.mat-body, .mat-body-1, .mat-typography {
  font: 400 12px/20px Roboto, "Helvetica Neue", sans-serif;
  
  letter-spacing: normal;
}
.output {
  padding: 20px;
}
// .text-nowrap {
//   white-space: nowrap !important;
// }
table {
  border-collapse: collapse;
}
.tax-field {
  width: 50px !important;
}
// .delete {
//   color: red;
// }
// .done {
//   color: green;
// }
// .edit {
//   color: yellow;
// }
