<form [formGroup]="userTable">
  <div style="width: 100%; overflow: scroll;">
    <table class="table table-border">
      <thead class="text-nowrap">
        <th>Método Pagamento</th>
        <th>Parcela</th>
        <th>Taxa de Antecipação</th>
        <th>Taxa de administração</th>
        <th>Tarifa Crédito</th>
        <th>Taxa de Financiamento</th>
        <th>Custo da Transação</th>
        <th>Valor</th>
        <th>Prazo Pagamento</th>
        <th *ngIf="!isPageView">Ações</th>
      </thead>
      <tbody>
        <ng-container formArrayName="tax" *ngFor="let group of getFormControls.controls; let i=index; let first=first">
          <tr [formGroupName]="i"  *ngIf="!isPageView">
            <!-- <tr *ngIf="group.get('isEditable').value" [formGroupName]="i"> -->
              <td>
              <mat-form-field  *ngIf="paymentMethod$ | async as pm">
                <mat-select (selectionChange)="changePaymentMethod($event,group,group.get('paymentMethod').value.acronym)" [compareWith]="compareFn" formControlName="paymentMethod">
                  <ng-container *ngFor="let option of pm">
                    <!-- <mat-option *ngIf="!(selectLastGroup(i-1,'installment') >= limitCredit && option.acronym == 'C') && !(selectLastGroup(i-1,'installment') >= limitDebit && option.acronym == 'D')  && !(selectLastGroup(i-1,'installment') >= limitInCash && option.acronym == 'A')" [value]="option"> -->
                    <!-- *ngIf="!(selectLastGroup(i-1,'installment') >= limitCredit && option.acronym == 'C')" -->
                      <mat-option  [value]="option" [disabled]="(option.acronym == 'C' && countCredit >= limitCredit) || (option.acronym == 'D' && countDebit >= limitDebit) || (option.acronym == 'A' && countInCash >= limitInCash)">
                        {{option.description ? (option.acronym + ' - ' + option.description) : option.acronym}}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </td>

            <!-- <td>
              <mat-form-field class="tax-field">
                <input matInput type="number" min="1" max="12" formControlName="installment" />
              </mat-form-field>
            </td> -->

            <td>{{group.get('installment').value}}</td>

            <td>
              <mat-form-field class="tax-field">
                <input matInput type="text" mask="separator.2" thousandSeparator="." suffix="%"
                  formControlName="antecipationTax" />
              </mat-form-field>
            </td>

            <td>
              <mat-form-field class="tax-field">
                <input matInput type="text" mask="separator.2" thousandSeparator="." suffix="%"
                  formControlName="percentAdmTax" />
              </mat-form-field>
            </td>

            <td>
              <mat-form-field class="tax-field">
                <input matInput type="text" mask="separator.2" thousandSeparator="." suffix="%"
                  formControlName="percentCreditTariff" />
              </mat-form-field>
            </td>

            <td>
              <mat-form-field class="tax-field">
                <input matInput type="text" mask="separator.2" thousandSeparator="." suffix="%"
                  formControlName="percentFinancialTax" />
              </mat-form-field>
            </td>

            <td>
              <mat-form-field class="tax-field">
                <input matInput type="text" mask="separator.2" thousandSeparator="." prefix="R$ "
                  formControlName="transactionCostAmount" />
              </mat-form-field>
            </td>

            <td>
              <mat-form-field class="tax-field">
                <input matInput type="text" mask="separator.2" thousandSeparator="." prefix="R$ "
                  formControlName="value" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field *ngIf="paymentDeadLine$ | async as pdl">
                <mat-select [compareWith]="compareFn" formControlName="paymentDeadLine">
                  <mat-option *ngFor="let option of pdl" [value]="option">{{option.description}}</mat-option>
                </mat-select>
              </mat-form-field>
            </td>

            <td>
              <mat-icon class="delete" *ngIf="!first" (click)="deleteRow(i)">delete_forever</mat-icon>
              <!-- <mat-icon class="done" (click)="doneRow(group)">done</mat-icon> -->
            </td>
          </tr>
          <tr *ngIf="isPageView">
            <td>{{group.get('paymentMethod').value.description ? (group.get('paymentMethod').value.acronym + ' - ' + group.get('paymentMethod').value.description) : group.get('paymentMethod').value.acronym}}
            </td>
            <td>{{group.get('installment').value}}</td>
            <td>{{group.get('antecipationTax').value}}%</td>
            <td>{{group.get('percentAdmTax').value}}%</td>
            <td>{{group.get('percentCreditTariff').value}}%</td>
            <td>{{group.get('percentFinancialTax').value}}%</td>
            <td>R$ {{group.get('transactionCostAmount').value}}</td>
            <td>R$ {{group.get('value').value}}</td>
            <td>{{group.get('paymentDeadLine').value.description}}</td>
            <td *ngIf="!isPageView"><mat-icon class="edit" (click)="editRow(group)">edit</mat-icon></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="action-container" *ngIf="!isPageView">
    <button mat-raised-button type="submit" (click)="addRow()">
      Adicionar taxa
    </button>
  </div>
</form>