@import '~src/app/@core/styles/breakpoints';

:host {

  .initial-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-title{
    margin-top: 5%;
  }

  .card-box {
    width: 500px;
    margin: 0 15px;
    vertical-align: middle;
  }

  .card-size {
    height: 200px;
  }

  .group-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 70%;
    margin-left: 15%;
    margin-top: 10%;
  }
  
  .btn-submit {
    width: 100px;
    height: 40px;
    margin-top: 10px;
  }

  .btn-create-password {
    margin-top: 10px;
  }
  
  .spacemensage {
    padding-bottom: 5px !important;
  }
  
  .icone {
    cursor: pointer;
  }

}