<div fxFlexFill>

  <div *ngIf="addPage">
    <core-breadcrumb [model]="addBreadcrumbModel"></core-breadcrumb>

    <div class="m-b-25">
      <label class="mat-display-1 page-title">
        Incluir Usuário
      </label>
    </div>
  </div>

  <div *ngIf="!addPage">
    <core-breadcrumb [model]="editBreadcrumbModel"></core-breadcrumb>

    <div class="m-b-25">
      <label class="mat-display-1 page-title">
        Editar Usuário
      </label>
    </div>
  </div>

  <mat-expansion-panel class="m-b-25" [expanded]="true">

    <mat-expansion-panel-header>
      <mat-panel-title>
        Detalhes
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field appearance="outline">
      <mat-label>Empresa</mat-label>
      <input matInput placeholder="Empresa" [(ngModel)]="profile.nameProfile" name="name" required />
      <mat-icon matSuffix>business_center</mat-icon>
      <mat-error *ngIf="formControl.invalid">{{
      getErrorMessage()
    }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Descrição</mat-label>
      <input matInput placeholder="Descrição" [(ngModel)]="profile.description" name="description" required />
      <mat-icon matSuffix>subject</mat-icon>
      <mat-error *ngIf="formControl.invalid">{{
      getErrorMessage()
    }}</mat-error>
    </mat-form-field>
  </mat-expansion-panel>


  <div fxLayout="row wrap">
    <div fxFlex>
      <core-back-button (click)="back()" fxFlex>Voltar </core-back-button>
    </div>

    <div *ngIf="addPage">
      <div fxFlex>
        <core-save-button (click)="createProfile()" fxFlex>Criar </core-save-button> 
      </div>
    </div>

    <div *ngIf="!addPage">
      <div fxFlex>
        <core-save-button (click)="updateProfile()" fxFlex>Salvar </core-save-button> 
      </div>
    </div>
  </div>




  <!-- <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill> -->
  <!-- <div class="card-box">
      <mat-card class="mat-elevation-z2">
        <mat-card-content>
          <div class="text-center m-b-20 font-light-bold title-size">
            <label>
              Adicionar Perfil
            </label>
          </div>
        
        </mat-card-content>
      </mat-card>
    </div> -->

  <!-- <div class="group-buttons-actions">
      <button mat-raised-button color="accent" tabindex="-1" (click)="onNoClick()">
        Cancelar
      </button>

      <button mat-raised-button color="primary" (click)="createProfile()">
        Salvar
      </button>
    </div>
  </div> -->



</div>