<div>
  <!-- <core-breadcrumb [model]="breadcrumb_model"></core-breadcrumb> -->
  <div class="m-b-25">
    <label class="mat-display-1 page-title">
      Contratos
    </label>
  </div>

  <div fxLayout="row wrap" class="m-b-25 m-t-20" fxLayoutAlign="end end">
    <button mat-flat-button color="primary" class="float-right" (click)="onAdd($event)">
      <mat-icon [inline]="true" class="m-r-5">
        add
      </mat-icon>
      Cadastrar
    </button>
  </div>

  <core-data-table 
    [headers]="headers" 
    [actions]="actions" 
    (addEvent)="onAdd($event)" 
    (deleteEvent)="onDelete($event)"
    (editEvent)="onEdit($event)" 
    (viewEvent)="onView($event)" 
    [loadFunc]="loadData" 
    [idItems]="'id'"
    >
  </core-data-table>

  <!-- <app-simple-data-table *ngIf="agreements$" 
        [headers]="headers" 
        [data]="agreements$" 
        [actions]="actions"
        (editEvent)="onEdit($event)"
        (viewEvent)="onView($event)"
        >
  </app-simple-data-table> -->

  

</div>