<div>
  <core-breadcrumb [model]="breadcrumb_model"></core-breadcrumb>
  <div class="m-b-25">
    <label class="mat-display-1 page-title">
      Contratos
    </label>
  </div>

  <core-data-table 
    [headers]="headers" 
    [actions]="actions" 
    (addEvent)="onAdd($event)" 
    (deleteEvent)="onDelete($event)"
    (editEvent)="onEdit($event)" 
    [loadFunc]="loadData" 
    [idItems]="'id'"
    >
  </core-data-table>

  <!-- <app-simple-data-table 
        [headers]="headers" 
        [loadFunc]="loadData" 
        [actions]="actions"
        (addEvent)="onAdd($event)" 
        (editEvent)="onEdit($event)"
        (deleteEvent)="onDelete($event)"
        [idItems]="'id'"
        >
  </app-simple-data-table> -->

</div>