// .password-recover-container {
//   display: flex;
//   margin-top: 100px;
// }

@import '~src/app/@core/styles/breakpoints';

:host {

  .password-recover-container {
    display: flex;
    justify-content: space-between!important;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    height: 80vh!important;
  }

  .align-center {
    display: flex;
    justify-content: center;
  } 

  .page-title {
    font-size: 20px;
  }

  .card-box {
    margin: 0 15px;
    vertical-align: middle;
  }

  
  .spacemensage {
    padding-bottom: 5px !important;
  }
  
  .icone {
    cursor: pointer;
  }

  .page-title {
    color: darkslategray;
    opacity: 0.8;
  }

  .group-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
  }

}

