<div fxFlexFill>

  <core-breadcrumb [model]="breadcrumbModel"></core-breadcrumb>

  <div class="m-b-25">
    <label class="mat-display-1 page-title">
      Editar Regra
    </label>
  </div>

  <div class="h-200 loading-data p-t-20" *ngIf="isLoading">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>

  <div *ngIf="!isLoading">

    <div fxLayout="row wrap">
      <div fxFlex="100%">
        <label>
          <strong>
            Status:
            <span class="label-status-inactive" *ngIf="!model.active">
              Inativa
            </span>
            <span class="label-status-active" *ngIf="model.active">
              Ativa
            </span>
          </strong>
        </label>
      </div>

      <div fxFlex="100%">
        <button mat-flat-button color="primary" class="m-t-15 m-b-25 float-left color-success" (click)="active()" *ngIf="!model.active">
          <mat-icon [inline]="true" class="m-r-5">
            done
          </mat-icon>
          Ativar Regra
        </button>
        <button mat-flat-button color="warn" class="m-t-15 m-b-25 float-left" (click)="inactive()" *ngIf="model.active">
          <mat-icon [inline]="true" class="m-r-5">
            close
          </mat-icon>
          Inativar Regra
        </button>
      </div>

    </div>

    <form name="form" [formGroup]="form" novalidate *ngIf="form" class="m-b-15" autocomplete="off">

      <mat-expansion-panel class="m-b-25" [expanded]="true">

        <mat-expansion-panel-header>
          <mat-panel-title>
            Detalhes e Alertas
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row wrap" fxLayoutGap="1% grid">
          <mat-form-field appearance="outline" floatLabel="always" fxFlex="100%">
            <mat-label>
              Descrição
            </mat-label>

            <input matInput formControlName="description">

            <mat-error *ngIf="form.get('description').hasError('required')">
              Obrigatório
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always" fxFlex.gt-sm="25%" fxFlex.sm="50%" fxFlex.xs="50%">
            <mat-label>
              Criticidade
            </mat-label>

            <mat-select formControlName="critical_level">
              <mat-option [value]="'LOW'">
                Baixa
              </mat-option>
              <mat-option [value]="'MEDIUM'">
                Normal
              </mat-option>
              <mat-option [value]="'AVERAGE'">
                Alta
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always" fxFlex.gt-sm="25%" fxFlex.sm="50%" fxFlex.xs="50%">
            <mat-label>
              Bloqueio Operacional?
            </mat-label>

            <mat-select formControlName="block_merchant_transactions">
              <mat-option [value]="false">
                Não
              </mat-option>
              <mat-option [value]="true">
                Sim
              </mat-option>
            </mat-select>

            <mat-hint input-helper [input-helper-text]="'O que é Bloqueio Operacional?'" [input-helper-messages]="[
              'O bloqueio operacional ocorre quando uma determinada transação atende regra que está configurada para bloquear a empresa automaticamente.',
              'Neste caso, além do alerta gerado, é feito o bloqueio operacional da empresa que impedirá a aprovação de novas transações até que a mesma seja desbloqueada.',
              'O desbloqueio deve ser feito manualmente pelo Dashboard de Monitoramento.'        
            ]">
              O que é?
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always" fxFlex.gt-sm="50%" fxFlex.sm="100%" fxFlex.xs="100%">
            <mat-label>
              Notificação Alerta por E-mail
            </mat-label>
            <mat-select formControlName="email_notification_mode">
              <mat-option [value]="'SEND_FOR_ALL'">
                Enviar um e-mail por alerta gerado
              </mat-option>
              <mat-option [value]="'SEND_BY_HOUR'">
                Enviar um e-mail de hora em hora com os novos alertas
              </mat-option>
              <mat-option [value]="'NOT_SEND'">
                Não enviar alertas
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
            <mat-label>
              E-mails notificados
            </mat-label>

            <mat-chip-list #emailList [disabled]="true">
              <mat-chip *ngFor="let email of emails; let i = index" (removed)="removeEmail(i)"
                [color]="i % 2 == 0 ? 'primary' : 'accent'" selected>
                {{email}}
                <mat-icon matChipRemove *ngIf="false">
                  cancel
                </mat-icon>
              </mat-chip>

              <input formControlName="email" [matChipInputFor]="emailList"
                [matChipInputSeparatorKeyCodes]="emailSeparatorKeysCodes" (matChipInputTokenEnd)="addEmail($event)"
                autocomplete="new-email"
                [placeholder]="!emails || emails.length == 0 ? 'Nenhum e-mail cadastrado' : ''">
            </mat-chip-list>

            <mat-hint input-helper [input-helper-text]="'Como cadastrar os e-mails?'" [input-helper-messages]="[
              'Todos os e-mails listados receberão os alertas.',
              'Para associar um e-mail aos alertas, é necessário incluir o mesmo no campo, e após isso apertar enter (↵) ou vírgula (,).',
              'Caso seja um e-mail inválido, será exibida uma mensagem de erro e ele não será associado.',
              'Para remover um e-mail associado basta clicar no ícone de \'X\' ao lado do mesmo.'
            ]">
              Como cadastrar?
            </mat-hint>
          </mat-form-field>

        </div>

      </mat-expansion-panel>

      <mat-expansion-panel class="m-b-25" [expanded]="true">

        <mat-expansion-panel-header>
          <mat-panel-title>
            Condições
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div formArrayName="conditions">

          <div *ngIf="form.get('conditions').controls == 0" class="text-center">
            <label>
              Nenhuma condição cadastrada
            </label>
          </div>

          <div *ngFor="let item of form.get('conditions').controls; let i = index; let last = last; let count = count"
            [formGroupName]="i" fxLayout="row wrap" fxLayoutGap="1% 0% grid">

            <mat-form-field appearance="outline" floatLabel="always" fxFlex.gt-sm="45%" fxFlex.xs="100%">
              <mat-label>
                Variável
              </mat-label>

              <mat-select formControlName="variable" (selectionChange)="onChangeVariable($event, i)">
                <mat-option *ngFor="let variable of variables" [value]="variable.variable_name">
                  {{variable.display_name}}
                </mat-option>
              </mat-select>

              <mat-error *ngIf="form.get('conditions').controls[i].get('variable').hasError('required')">
                Obrigatório
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always" fxFlex.gt-sm="20%" fxFlex.xs="50%">
              <mat-label>
                Op. Comparação
              </mat-label>

              <mat-select formControlName="comparison_op" (selectionChange)="onChangeComparisonOperator($event, i)">
                <mat-option [value]="comparison_operator.display_name"
                  *ngFor="let comparison_operator of selectedVariables[i]?.comparison_operators">
                  {{comparison_operator.display_name}}
                </mat-option>
              </mat-select>

              <mat-error *ngIf="form.get('conditions').controls[i].get('comparison_op').hasError('required')">
                Obrigatório
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always" fxFlex.gt-sm="20%" fxFlex.xs="50%">
              <mat-label>
                Valor
              </mat-label>

              <input matInput currencyMask id="condition-value-{{i}}"
                *ngIf="selectedVariables[i]?.data_type == 'Monetary'" formControlName="value" />

              <input matInput id="condition-value-{{i}}" *ngIf="!selectedVariables[i]" formControlName="value" />

              <input matInput type="number" id="condition-value-{{i}}"
                *ngIf="selectedVariables[i]?.data_type == 'ListOfValue'" formControlName="value" />

              <mat-error *ngIf="form.get('conditions').controls[i].get('value').hasError('required')">
                Obrigatório
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always" fxFlex.gt-sm="15%"
              *ngIf="last == false && count > 1">
              <mat-label>
                Operador Lógico
              </mat-label>

              <mat-select formControlName="logic_op">
                <mat-option *ngFor="let item of logicOperatorList" [value]="item.value">
                  {{item.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div fxFlex="100%" *ngIf="!last && count > 1" class="m-r-20 m-l-20">
              <mat-divider class="m-b-20"></mat-divider>
            </div>

          </div>

          <button mat-flat-button color="accent" class="m-t-15 float-left" (click)="addCondition()" *ngIf="false">
            Nova Condição
          </button>

        </div>

      </mat-expansion-panel>

      <div fxLayout="row wrap">
        <core-back-button (clickEvent)="back()" fxFlex></core-back-button>
        <core-save-button (clickEvent)="update()" fxFlex></core-save-button>
      </div>

    </form>

  </div>

</div>