<div fxFlexFill class="password-container">
  <!-- <core-breadcrumb [model]="breadcrumbModel"></core-breadcrumb> -->
  <div>
    <div class="m-b-25 align-items">
      <label class="mat-display-1 page-title"> Você está recuperando sua senha para as transações presenciais </label>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
      <div class="card-box">
        <mat-card class="mat-elevation-z2">
          <mat-card-content>
            <div class="text-center m-b-20 font-light-bold">
              <label>
                Confrime sua senha de login para redefinir a senha de transações presenciais
              </label>
            </div>

            <form [formGroup]="recoverPasswordForm">
              <mat-form-field appearance="outline">
                <mat-label> Senha de login </mat-label>
                <mat-icon matSuffix (click)="hide1 = !hide1" class="icone">
                  {{ hide1 ? "visibility" : "visibility_off" }}
                </mat-icon>
                <input matInput formControlName="Password" [type]="hide1 ? 'password' : 'text'" required />
                <mat-error class="spacemensage"> Obrigatório </mat-error>
              </mat-form-field>

            </form>
            <div class="group-buttons">
              <core-back-button (click)="navigateToInitialPassword()" color="accent" fxFlex>Voltar </core-back-button>


              <core-recover-button (click)="submit()" color="accent">Redefenir Senha </core-recover-button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>