<div>
  <core-breadcrumb [model]="addBreadcrumbModel" *ngIf="isPageAdd()"></core-breadcrumb>
  <core-breadcrumb [model]="editBreadcrumbModel" *ngIf="isPageEdit()"></core-breadcrumb>
  <core-breadcrumb [model]="viewBreadcrumbModel" *ngIf="isPageView()"></core-breadcrumb>

  <div class="m-b-25">
    <label class="mat-display-1 page-title">
      {{isPageAdd() ? 'Inserir Contrato' : ''}}
      {{isPageEdit() ? 'Editar Contrato' : ''}}
      {{isPageView() ? 'Visualizar Contrato' : ''}}
    </label>
  </div>
  <form name="form" [formGroup]="form" novalidate *ngIf="form" class="m-b-15" autocomplete="off">
  <mat-expansion-panel class="m-b-25" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Detalhes e Condições
      </mat-panel-title>
    </mat-expansion-panel-header>
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>
          Descrição
        </mat-label>
        <mat-icon matSuffix
          [color]="form.get('description').hasError('required') && form.get('description').touched ? 'warn' : 'primary'">
          title
        </mat-icon>
        <input matInput formControlName="description">
        <mat-error *ngIf="form.get('description').hasError('required')">
          Obrigatório
        </mat-error>
      </mat-form-field>
      <!-- <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Empresa</mat-label>
        <mat-select formControlName="idCompany">
          <mat-option *ngFor="let company of companys" [value]="company.idCompany">
            Cod. {{company.idCompany}} - {{company.companyName}} 
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      <mat-form-field appearance="outline">
        <mat-label>Parcelado Acelerado</mat-label>
        <mat-select formControlName="isFastInstallments" required>
          <mat-option></mat-option>
          <mat-option [value]="true"> Sim </mat-option>
          <mat-option [value]="false"> Não </mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>

      <!-- <mat-slide-toggle formControlName="isFastInstallments" [(ngModel)]="isFastInstallments">Slide Toggle Checked: {{isFastInstallments}}</mat-slide-toggle> -->
    </mat-expansion-panel>
      
    <mat-expansion-panel class="m-b-25" [expanded]="true">

      <mat-expansion-panel-header>
        <mat-panel-title>
          Planos
        </mat-panel-title>
      </mat-expansion-panel-header>
    <!-- *ngIf="model.plans[0].acquirer"  -->
      <app-simple-data-table 
        [headers]="headersPlan" 
        [data]="form.controls.plans.value" 
        [actions]="actions"
        (addEvent)="onAddPlan($event)" 
        (editEvent)="onEditPlan($event)"
        (deleteEvent)="onDeletePlan($event)"
        (viewEvent)="onDeletePlan($event)"
        >
      </app-simple-data-table>
    </mat-expansion-panel>

    <div fxLayout="row wrap">
      <div fxFlex>
        <button mat-raised-button class="m-t-15 float-left" (click)="back()">
          <mat-icon [inline]="true" class="m-r-5" >
            arrow_back
          </mat-icon>
          Cancelar
        </button>
      </div>
  
      <div fxFlex>
        <button mat-raised-button color="primary" class="m-t-15 float-right" (click)="isPageAdd() ? save() : update()" *ngIf="!isPageView()">
          <mat-icon [inline]="true" class="m-r-5">
            save
          </mat-icon>
          Salvar
        </button>
  
      </div>
    </div>
</form>
</div>