.table-title {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.table-title h2 {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.25px;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.25);
}
