
  .card-box {
    margin: 15px 15px;
    vertical-align: middle;
    width: 100%;
  }

  .title-size {
    font-size: 26px;
  }
  
  form .line-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  form .line-form .mat-form-field{
    width: 48%;
  }
  
  form .line-form .short-line-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48%;
  }
  
  form .line-form .short-line-form .mat-form-field{
    width: 45%;
  }

  h3 {
    padding: 1% 0 1%;
  }

  .group-buttons-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  .group-buttons-actions button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 12em;
    font-size: 16px;
    text-align: center;
  }


