<div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <div class="card-box">
    <mat-card class="mat-elevation-z2">
      <mat-card-content>
        <div class="text-center m-b-20 font-light-bold title-size">
          <label> Adicionar Sócio </label>
        </div>
        <form [formGroup]="partnerFormGroup">
          <div class="line-form">
            <div class="short-line-25-form">
              <mat-form-field appearance="outline">
                <mat-label>Número Sequência</mat-label>
                <input
                  matInput
                  placeholder="Número Sequência"
                  formControlName="sequenceNumberCtrl"
                  required
                />
                <mat-icon matSuffix>business_center</mat-icon>
                <mat-error *ngIf="formControl.invalid">{{
                  getErrorMessage()
                }}</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="line-form">
            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input
                matInput
                placeholder="Nome"
                formControlName="nameCtrl"
                required
              />
              <mat-icon matSuffix>subject</mat-icon>
              <mat-error *ngIf="formControl.invalid">{{
                getErrorMessage()
              }}</mat-error>
            </mat-form-field>

            <div class="short-line-form">
              <mat-form-field appearance="outline">
                <mat-label>CPF</mat-label>
                <input
                  matInput
                  placeholder="CPF"
                  formControlName="cpfCtrl"
                  mask="000.000.000-00"
                  required
                />
                <mat-icon matSuffix>subject</mat-icon>
                <mat-error *ngIf="formControl.invalid">{{
                  getErrorMessage()
                }}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Data de nascimento</mat-label>
                <input
                  matInput
                  [matDatepicker]="dp"
                  formControlName="dateOfBirthCtrl"
                  required
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="dp"
                ></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
                <mat-error *ngIf="formControl.invalid">{{
                  getErrorMessage()
                }}</mat-error>
              </mat-form-field>
            </div>
          </div>

          <mat-divider></mat-divider>
          <h3>Endereço</h3>

          <div class="line-form">
            <div class="short-line-form">
              <mat-form-field appearance="outline">
                <mat-label>CEP</mat-label>
                <input
                  matInput
                  placeholder="CEP"
                  formControlName="cepCtrl"
                  #cepCtrl
                  (blur)="getAdressByCep(cepCtrl.value)"
                  mask="00000-000"
                  required
                />
                <mat-icon matSuffix>place</mat-icon>
                <mat-error *ngIf="formControl.invalid">{{
                  getErrorMessage()
                }}</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="line-form">
            <mat-form-field appearance="outline">
              <mat-label>Logradouro</mat-label>
              <input
                matInput
                placeholder="Logradouro"
                formControlName="streetCtrl"
                required
              />
              <mat-icon matSuffix>subject</mat-icon>
              <mat-error *ngIf="formControl.invalid">{{
                getErrorMessage()
              }}</mat-error>
            </mat-form-field>

            <div class="short-line-form">
              <mat-form-field appearance="outline">
                <mat-label>Número</mat-label>
                <input
                  matInput
                  placeholder="Número"
                  formControlName="numberCtrl"
                  required
                />
                <mat-icon matSuffix>subject</mat-icon>
                <mat-error *ngIf="formControl.invalid">{{
                  getErrorMessage()
                }}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Complemento</mat-label>
                <input
                  matInput
                  placeholder="Complemento"
                  formControlName="complementCtrl"
                  required
                />
                <mat-icon matSuffix>subject</mat-icon>
                <mat-error *ngIf="formControl.invalid">{{
                  getErrorMessage()
                }}</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="line-form">
            <mat-form-field appearance="outline">
              <mat-label>Bairro</mat-label>
              <input
                matInput
                placeholder="Bairro"
                formControlName="neighborhoodCtrl"
                required
              />
              <mat-icon matSuffix>subject</mat-icon>
              <mat-error *ngIf="formControl.invalid">{{
                getErrorMessage()
              }}</mat-error>
            </mat-form-field>

            <div class="short-line-form">
              <mat-form-field appearance="outline">
                <mat-label>Município</mat-label>
                <input
                  matInput
                  placeholder="Bairro"
                  formControlName="countyCtrl"
                  required
                />
                <mat-icon matSuffix>subject</mat-icon>
                <mat-error *ngIf="formControl.invalid">{{
                  getErrorMessage()
                }}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Estado</mat-label>
                <input
                  matInput
                  placeholder="Estado"
                  formControlName="stateCtrl"
                  required
                />
                <mat-icon matSuffix>subject</mat-icon>
                <mat-error *ngIf="formControl.invalid">{{
                  getErrorMessage()
                }}</mat-error>
              </mat-form-field>
            </div>
          </div>

          <mat-divider></mat-divider>
          <h3>Contato</h3>

          <div class="line-form">
            <mat-form-field appearance="outline">
              <mat-label>Telefone</mat-label>
              <input
                matInput
                placeholder="() 00000-0000"
                formControlName="contactCtrl"
                mask="(00) 00000-0000"
                required
              />
              <mat-icon matSuffix>subject</mat-icon>
              <mat-error *ngIf="formControl.invalid">{{
                getErrorMessage()
              }}</mat-error>
            </mat-form-field>
          </div>
          <div mat-dialog-actions class="group-buttons-actions">
            <button mat-raised-button color="primary" (click)="createProfile()">
              Salvar
            </button>
            <button
              mat-raised-button
              color="warn"
              tabindex="-1"
              (click)="onNoClick()"
            >
              Cancelar
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
    
  </div>
  
</div>

