<mat-form-field>
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="O que você quer buscar?" #input>
</mat-form-field>

<div class="mat-cell mat-elevation-z1  table-container">
  <table mat-table #table [dataSource]="dataSource" matSort class="table-margin">
    <ng-container [matColumnDef]="header.value" *ngFor="let header of headers">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ header.text }}
      </th>
      <td mat-cell *matCellDef="let row">
        {{ header.subValue ? row[header.value][header.subValue] : row[header.value] }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addItem()" *ngIf="actions.add">
          <mat-icon aria-label="Add icon">add</mat-icon>
        </button>
        <span *ngIf="!actions.add">Ações</span>
      </th>

      <td mat-cell *matCellDef="let row; let i = index">
        <button mat-icon-button color="accent" (click)="viewItem(row)" *ngIf="actions.view">
          <mat-icon aria-label="View icon" matTooltip="Visualizar">visibility</mat-icon>
        </button>

        <button mat-icon-button color="primary" (click)="editItem(row)" *ngIf="actions.edit">
          <mat-icon aria-label="Edit icon" matTooltip="Editar">edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" (click)="deleteItem(row)" *ngIf="actions.delete">
          <mat-icon aria-label="Delete icon" matTooltip="Deletar">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="mat-paginator"></mat-paginator>
</div>