<div fxFlexFill>

  <core-breadcrumb [model]="breadcrumbModel"></core-breadcrumb>

  <div class="m-b-25">
    <label class="mat-display-1 page-title">
      Lista de Regras
    </label>
  </div>

  <core-data-table *ngIf="!isLoading" [headers]="headers" [data]="dataSource" [actions]="actions" (addEvent)="onAdd($event)"
    (deleteEvent)="onDelete($event)" (editEvent)="onEdit($event)">
  </core-data-table>

  <div class="h-200 loading-data p-t-20" *ngIf="isLoading">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>

</div>