.plans-container {
  width: 100vw;
  height: 100vh;
  padding: 50px;
}

.plans-container h2{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 15px;
}

.plans-container h3{
  margin-bottom: 10px;
}

form .line-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form .line-form .mat-form-field {
  width: 48%;
}

form .line-form .max-short-line-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

form .line-form .max-short-line-form .mat-form-field {
  width: 45%;
}

form .line-form .short-line-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 48%;
}

form .line-form .short-line-form .mat-form-field {
  width: 45%;
}

.mat-divider {
  border-top-color: black;
}
