<div fxFlexFill class="change-password-container">
  <!-- <core-breadcrumb [model]="breadcrumbModel"></core-breadcrumb> -->
  <div>
    <div class="m-b-25 align-items">
      <label class="mat-display-1 page-title"> Você está alterando sua senha para as transações presenciais </label>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
      <div class="card-box">
        <mat-card class="mat-elevation-z2">
          <mat-card-content>
            <div class="text-center m-b-20 font-light-bold">
              <label>
                Informe a sua senha atual e a nova senha que deseja utilizar
              </label>
            </div>

            <form [formGroup]="changePasswordForm">
              <mat-form-field appearance="outline">
                <mat-label> Senha atual </mat-label>
                <mat-icon matSuffix (click)="hide1 = !hide1" class="icone">
                  {{ hide1 ? "visibility" : "visibility_off" }}
                </mat-icon>
                <input
                  matInput
                  formControlName="actualPassword"
                  [type]="hide1 ? 'password' : 'text'"
                />
                <mat-error class="spacemensage"> Obrigatório </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label> Nova senha </mat-label>
                <mat-icon
                  matSuffix
                  (click)="hide2 = !hide2"
                  class="icone"
                  [color]="
                    changePasswordForm
                      .get('newPassword')
                      .hasError('required') &&
                    changePasswordForm.get('confirmNewPassword').touched
                      ? 'warn'
                      : 'primary'
                  "
                >
                  {{ hide2 ? "visibility" : "visibility_off" }}
                </mat-icon>
                <input
                  matInput
                  formControlName="newPassword"
                  [type]="hide2 ? 'password' : 'text'"
                />
                <mat-error class="spacemensage">
                  Senhas não são iguais
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label> Confirme nova senha </mat-label>
                <mat-icon
                  matSuffix
                  (click)="hide2 = !hide2"
                  class="icone"
                  [color]="
                    changePasswordForm
                      .get('newPassword')
                      .hasError('required') &&
                    changePasswordForm.get('confirmNewPassword').touched
                      ? 'warn'
                      : 'primary'
                  "
                >
                  {{ hide2 ? "visibility" : "visibility_off" }}
                </mat-icon>
                <input
                  matInput
                  formControlName="confirmNewPassword"
                  [type]="hide2 ? 'password' : 'text'"
                />
                <mat-error class="spacemensage">
                  Senhas não são iguais
                </mat-error>
              </mat-form-field>
            </form>
            <div class="group-buttons">
              <button
                mat-flat-button
                color="accent"
                class="btn-block btn-submit m-t-10"
                (click)="navigateToInitialPassword()"
              >
                Voltar
              </button>

              <button
                mat-flat-button
                color="primary"
                class="btn-block btn-submit m-t-10"
                (click)="changePassword()"
              >
                Alterar senha
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
