@import '~src/app/@core/styles/breakpoints';

:host {

  .change-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .align-text-center {
    display: flex;
    justify-content: center;
  } 

  .mat-display-1 {
    margin: 0 0 20px!important;
  }

  .page-title {
    // font-size: 30px!important;
    color: darkslategray;
    opacity: 0.8;
  }

  .card-box {
    margin: 0 15px;
    vertical-align: middle;
  }
  
  .btn-submit {
    height: 50px;
    margin-top: 10px;
  }

  .spacemensage {
    padding-bottom: 5px !important;
  }
  
  .icone {
    cursor: pointer;
  }

  .group-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
  }

  .group-buttons button{ 
    width: 45%;
  }

  // @media (max-width: 1200px) {
  //   .page-title {
  //     font-size: 25px!important;
  //   }
  // }
  
  // @media (max-width: 1050px) {
  //   .page-title {
  //     font-size: 22px!important;
  //     margin-left: 25px;
  //   }
  // }

  @media (max-width: 980px) {
    .page-title {
      font-size: 24px!important;
    }
  }

  @media (max-width: 850px) {
    .page-title {
      font-size: 10px!important;
    }
  }
}