<div fxFlexFill>

  <div class="h-200 loading-data p-t-20" *ngIf="isLoading">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>

  <div *ngIf="!isLoading">

    <core-breadcrumb [model]="addBreadcrumbModel" *ngIf="isPageAdd()"></core-breadcrumb>
    <core-breadcrumb [model]="editBreadcrumbModel" *ngIf="isPageEdit()"></core-breadcrumb>
    <core-breadcrumb [model]="viewBreadcrumbModel" *ngIf="isPageView()"></core-breadcrumb>

    <div class="m-b-25">
      <label class="mat-display-1 page-title">
        {{isPageAdd() ? 'Incluir Regra' : ''}}
        {{isPageEdit() ? 'Editar Regra' : ''}}
        {{isPageView() ? 'Visualizar Regra' : ''}}
      </label>
    </div>

    <div fxLayout="row wrap" *ngIf="isPageEdit()">
      <div fxFlex="100%">
        <label>
          <strong>
            Status:
            <span class="label-status-inactive" *ngIf="!model.active">
              Inativa
            </span>
            <span class="label-status-active" *ngIf="model.active">
              Ativa
            </span>
          </strong>
        </label>
      </div>

      <div fxFlex="100%">
        <button mat-flat-button color="primary" class="m-t-15 m-b-25 float-left color-success" (click)="active()"
          *ngIf="!model.active">
          <mat-icon [inline]="true" class="m-r-5">
            done
          </mat-icon>
          Ativar Regra
        </button>
        <button mat-flat-button color="warn" class="m-t-15 m-b-25 float-left" (click)="inactive()" *ngIf="model.active">
          <mat-icon [inline]="true" class="m-r-5">
            close
          </mat-icon>
          Inativar Regra
        </button>
      </div>

    </div>

    <form name="form" [formGroup]="form" novalidate *ngIf="form" class="m-b-15" autocomplete="off">

      <mat-expansion-panel class="m-b-25" [expanded]="true">

        <mat-expansion-panel-header>
          <mat-panel-title>
            Detalhes e Alertas
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row wrap" fxLayoutGap="1% grid">
          <mat-form-field appearance="outline" floatLabel="always" fxFlex="100%">
            <mat-label>
              Descrição
            </mat-label>

            <input matInput formControlName="description">

            <mat-error *ngIf="form.get('description').hasError('required')">
              Obrigatório
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always" fxFlex="25%">
            <mat-label>
              Criticidade
            </mat-label>

            <mat-select formControlName="critical_level">
              <mat-option [value]="'LOW'">
                Baixa
              </mat-option>
              <mat-option [value]="'MEDIUM'">
                Normal
              </mat-option>
              <mat-option [value]="'AVERAGE'">
                Alta
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always" fxFlex="25%">
            <mat-label>
              Bloqueio Operacional?
            </mat-label>

            <mat-select formControlName="block_merchant_transactions">
              <mat-option [value]="false">
                Não
              </mat-option>
              <mat-option [value]="true">
                Sim
              </mat-option>
            </mat-select>

            <mat-hint input-helper [input-helper-text]="'O que é Bloqueio Operacional?'" [input-helper-messages]="[
              'O bloqueio operacional ocorre quando uma determinada transação atende regra que está configurada para bloquear a empresa automaticamente.',
              'Neste caso, além do alerta gerado, é feito o bloqueio operacional da empresa que impedirá a aprovação de novas transações até que a mesma seja desbloqueada.',
              'O desbloqueio deve ser feito manualmente pelo Dashboard de Monitoramento.'
            ]">
              O que é?
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always" fxFlex="50%">
            <mat-label>
              Notificação Alerta por E-mail
            </mat-label>
            <mat-select formControlName="email_notification_mode">
              <mat-option [value]="'SEND_FOR_ALL'">
                Enviar um e-mail por alerta gerado
              </mat-option>
              <mat-option [value]="'SEND_BY_HOUR'">
                Enviar um e-mail de hora em hora com os novos alertas
              </mat-option>
              <mat-option [value]="'NOT_SEND'">
                Não enviar alertas
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
            <mat-label>
              E-mails notificados
            </mat-label>

            <mat-chip-list #emailList [disabled]="!isPageAdd()">
              <mat-chip *ngFor="let email of emails; let i = index" (removed)="removeEmail(i)"
                [color]="i % 2 == 0 ? 'primary' : 'primary'" selected>
                {{email}}
                <mat-icon matChipRemove>
                  cancel
                </mat-icon>
              </mat-chip>

              <input formControlName="email" [matChipInputFor]="emailList"
                [matChipInputSeparatorKeyCodes]="emailSeparatorKeysCodes" (matChipInputTokenEnd)="addEmail($event)">
            </mat-chip-list>

            <mat-hint input-helper [input-helper-text]="'Como cadastrar os e-mails?'" [input-helper-messages]="[
          'Todos os e-mails listados receberão os alertas.',
          'Para associar um e-mail aos alertas, é necessário incluir o mesmo no campo, e após isso apertar enter (↵) ou vírgula (,).',
          'Caso seja um e-mail inválido, será exibida uma mensagem de erro e ele não será associado.',
          'Para remover um e-mail associado basta clicar no ícone de \'X\' ao lado do mesmo.'
          ]">
              Como cadastrar?
            </mat-hint>
          </mat-form-field>

        </div>

      </mat-expansion-panel>

      <mat-expansion-panel class="m-b-25" [expanded]="true">

        <mat-expansion-panel-header>
          <mat-panel-title>
            Condições
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div formArrayName="conditions">

          <div *ngIf="form.get('conditions').controls == 0" class="text-center">
            <label>
              Nenhuma condição cadastrada
            </label>
          </div>

          <div *ngFor="let item of form.get('conditions').controls; let i = index; let last = last; let count = count"
            [formGroupName]="i" fxLayout="row wrap" fxLayoutGap="2% grid">

            <div fxFlex="100%" *ngIf="isPageAdd()">
              <button mat-flat-button color="warn" class="float-left" (click)="removeCondition(i, true, true)">
                <mat-icon [inline]="true" class="m-r-5">
                  delete
                </mat-icon>
                Remover Condição
              </button>
            </div>

            <mat-form-field appearance="outline" floatLabel="always" fxFlex.gt-sm="25%" fxFlex.sm="75%" fxFlex.xs="50%">
              <mat-label>
                Variável
              </mat-label>

              <mat-select formControlName="variable" (selectionChange)="onChangeVariable($event, i)">
                <mat-option *ngFor="let variable of variables" [value]="variable.variable_name"
                  [disabled]="disableVariable(variable)">
                  {{variable.display_name}}
                </mat-option>
              </mat-select>

              <mat-error *ngIf="form.get('conditions').controls[i].get('variable').hasError('required')">
                Obrigatório
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always" fxFlex.gt-sm="20%" fxFlex.sm="25%" fxFlex.xs="50%">
              <mat-label>
                Op. Comparação
              </mat-label>

              <mat-select formControlName="comparison_op" (selectionChange)="onChangeComparisonOperator($event, i)">
                <mat-option [value]="comparison_operator.display_name"
                  *ngFor="let comparison_operator of selectedVariables[i]?.comparison_operators">
                  {{comparison_operator.display_name}}
                </mat-option>
              </mat-select>

              <mat-error *ngIf="form.get('conditions').controls[i].get('comparison_op').hasError('required')">
                Obrigatório
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always" fxFlex.gt-sm="40%" fxFlex.sm="75%"
              fxFlex.xs="100%">
              <mat-label>
                Valor
              </mat-label>

              <input matInput id="condition-value-{{i}}" *ngIf="!selectedVariables[i] || !selectedVariables[i]?.variable_name" formControlName="value" />

              <input matInput currencyMask id="condition-value-{{i}}"
                *ngIf="selectedVariables[i]?.data_type == 'Monetary'" formControlName="value" />

              <mat-chip-list #valueList *ngIf="selectedVariables[i]?.data_type == 'ListOfValue'"
                [disabled]="disableValueInput(i)">
                <mat-chip
                  *ngFor="let selected_option of selectedVariables[i].selected_options_condition_type_list; let i2 = index"
                  (removed)="removeOptionConditionTypeList(i, i2)">
                  <span
                    *ngIf="selectedVariables[i].variable_name == 'CNAE' || selectedVariables[i].variable_name == 'MCC'">
                    {{selected_option.code}}
                  </span>
                  <span *ngIf="selectedVariables[i].variable_name == 'CódigoRetorno'">
                    {{selected_option.id}} - {{selected_option.description}}
                  </span>
                  <span
                    *ngIf="selectedVariables[i].variable_name != 'CNAE' && selectedVariables[i].variable_name != 'MCC' && selectedVariables[i].variable_name != 'CódigoRetorno'">
                    {{selected_option.description}}
                  </span>
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>

                <input formControlName="value" [matAutocomplete]="auto" [matChipInputFor]="valueList"
                  [matChipInputSeparatorKeyCodes]="[]" (matChipInputTokenEnd)="addValue($event)"
                  id="condition-value-{{i}}" (keyup)="onKeyupValue($event, i)">
              </mat-chip-list>

              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectConditionTypeList($event, i)">
                <mat-option *ngIf="selectedVariables[i]?.is_loading_data" [disabled]="true">
                  Carregando opções...
                </mat-option>
                <mat-option
                  *ngIf="!selectedVariables[i]?.is_loading_data && selectedVariables[i]?.filtered_options_condition_type_list?.length == 0"
                  [disabled]="true">
                  Nenhuma opção encontrada
                </mat-option>
                <mat-option *ngFor="let option of selectedVariables[i]?.filtered_options_condition_type_list"
                  [value]="option">

                  <span class="subtitle-option"
                    *ngIf="selectedVariables[i]?.variable_name == 'CNAE' || selectedVariables[i]?.variable_name == 'MCC'">
                    <strong>{{selectedVariables[i]?.variable_name}}: </strong> {{option.code}}
                  </span>
                  <span class="subtitle-option"
                    *ngIf="selectedVariables[i]?.variable_name == 'CNAE' || selectedVariables[i]?.variable_name == 'MCC'">
                    <strong>Descrição: </strong> {{option.description}}
                  </span>

                  <span class="subtitle-option" *ngIf="selectedVariables[i]?.variable_name == 'CódigoRetorno'">
                    <strong>Código: </strong> {{option.id}}
                  </span>
                  <span class="subtitle-option" *ngIf="selectedVariables[i]?.variable_name == 'CódigoRetorno'">
                    <strong>Descrição: </strong> {{option.description}}
                  </span>

                  <span
                    *ngIf="selectedVariables[i]?.variable_name != 'CNAE' && selectedVariables[i]?.variable_name != 'MCC' && selectedVariables[i]?.variable_name != 'CódigoRetorno'">
                    {{option.description}}
                  </span>

                </mat-option>
              </mat-autocomplete>

              <mat-error *ngIf="form.get('conditions').controls[i].get('value').hasError('required')">
                Obrigatório
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always" fxFlex.gt-sm="15%" fxFlex.sm="25%" fxFlex.xs="50%"
              *ngIf="last == false && count > 1">
              <mat-label>
                Operador Lógico
              </mat-label>

              <mat-select formControlName="logic_op">
                <mat-option *ngFor="let item of logicOperatorList" [value]="item.value">
                  {{item.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div fxFlex="100%" *ngIf="last == false && count > 1">
              <mat-divider class="m-b-25"></mat-divider>
            </div>

          </div>

          <button mat-flat-button color="accent" class="m-t-15 float-left" (click)="addCondition()" *ngIf="isPageAdd()">
            <mat-icon [inline]="true" class="m-r-5">
              add
            </mat-icon>
            Nova Condição
          </button>

        </div>

      </mat-expansion-panel>

      <div fxLayout="row wrap" class="m-b-25">
        <core-back-button (clickEvent)="back()" fxFlex></core-back-button>
        <core-save-button (clickEvent)="isPageAdd() ? save() : update()" fxFlex *ngIf="!isPageView()">
        </core-save-button>
      </div>

    </form>

  </div>

</div>