@keyframes rotating {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.example-tooltip-green {
  background: #b71c1c;
}

.cdk-global-scrollblock {
  position: initial!important;
  width: initial!important;
  overflow: hidden!important;
}