<div class="container">
    <h3 mat-dialog-title>Deseja Deletar?</h3>
    <div mat-dialog-content>
      <span>Código:</span> {{profile.idProfile}}
      <p></p>
      <span>Empresa:</span> {{profile.nameProfile}}
      <p></p>
      <span>Descrição:</span> {{profile.description}}
      <p></p>
    </div>
  
    <div mat-dialog-actions>
      <core-cancel-button button (click)="onNoClick()" fxFlex>Cancelar </core-cancel-button>
      <core-delete-button button (click)="deleteProfile()" fxFlex>Deletar </core-delete-button>
    </div>
  </div>
