<div class="container">
    <h3 mat-dialog-title>Deseja Deletar?</h3>
    <div mat-dialog-content>
      <span>Código:</span> {{profile.idProfile}}
      <p></p>
      <span>Empresa:</span> {{profile.nameProfile}}
      <p></p>
      <span>Descrição:</span> {{profile.description}}
      <p></p>
    </div>
  
    <div mat-dialog-actions>
      <button mat-raised-button color="accent" (click)="onNoClick()" tabindex="-1">Cancelar</button>
      <button mat-raised-button color="warn" [mat-dialog-close]="1" (click)="confirmDelete()">Deletar</button>
    </div>
  </div>
