.margin {
  margin: 15px;
  padding-right: 15px;
}

.mat-column-actions {
  flex: 0 0 100px;
}

mat-row {
  mat-cell:not(:last-child) {
    padding-right: 15px;
  }
}

mat-table {
  width: 100%;
}

.example-tooltip-green {
  background: #b71c1c;
}
