<mat-table #table [dataSource]="data.content" matSort class="mat-cell">

  <ng-container [matColumnDef]="header.value" *ngFor="let header of headers">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{header.text}}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{row[header.value]}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="primary" routerLink="{{dinamicAddRouter}}" *ngIf="actions.add">
        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let row; let i=index;">
      <button mat-icon-button color="primary"  routerLink="/profile-list/edit-profile/{{row.idProfile}}" *ngIf="actions.edit">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" (click)="openDeleteDialog(row.idProfile)" *ngIf="actions.delete">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<!--<div class="no-results" [style.display]="data.length == 0 ? '' : 'none'">
  Sem resultados
</div> -->

<mat-paginator class="margin" #paginator 
[length]="data.content.length" 
[pageIndex]="0" 
[pageSize]="5"
[pageSizeOptions]="[5, 10, 25, 50]"
showFirstLastButtons>
</mat-paginator>