<div class="mat-cell mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-table
    #table
    [dataSource]="dataSource"
    class="example-table"
    matSort
    [matSortActive]="sortColumns"
    matSortDisableClear
    matSortDirection="desc"
  >
    <ng-container [matColumnDef]="header.value" *ngFor="let header of headers">
        <div *ngIf="header.text === 'Código'">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ header.text }}
          </mat-header-cell>
        </div> 

        <div *ngIf="header.text !== 'Código'">
          <mat-header-cell *matHeaderCellDef>
            {{ header.text }}
          </mat-header-cell>
        </div> 
      <mat-cell *matCellDef="let row">
        <div *ngIf="header.value === 'situation'">
          {{row[header.value]  ? row[header.value] = "Ativo" : row[header.value] = "Inativo"}}
        </div>

        <div *ngIf="header.value !== 'situation'">
          {{ header.subValue ? row[header.value][header.subValue] : row[header.value] }}
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button
          mat-icon-button
          color="primary"
          (click)="addItem()"
          *ngIf="actions.add"
        >
          <mat-icon aria-label="Add icon" matTooltip="Cadastrar" >add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i = index">
        <button
          mat-icon-button
          color="primary"
          (click)="editItem(row)"
          *ngIf="actions.edit"
        >
          <mat-icon aria-label="Edit icon" matTooltip="Editar">edit</mat-icon>
        </button>

        <button
          mat-icon-button
          color="warn"
          (click)="deleteItem(row)"
          *ngIf="actions.delete"
        >
          <mat-icon aria-label="Delete icon" matTooltip="Deletar">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>
</div>
