<div fxLayout="column" fxLayoutAlign="center center" fxFlexFill class="dialog-size-container">
  <h3 mat-dialog-title class="text-center m-b-20 font-light-bold title-size">
    Adicionar Telefone
  </h3>
  <div mat-dialog-content>
    <form [formGroup]="phoneFormGroup">

      <mat-form-field appearance="outline">
        <mat-label>Nome do contato</mat-label>
        <input matInput placeholder="Nome do contato" formControlName="contactName" required />
        <mat-icon matSuffix>account_box</mat-icon>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Telefone</mat-label>
        <input matInput placeholder="(00) 00000-0000" formControlName="companyPhone"
          mask="(00) 0000-0000 || (00) 0 0000-0000" required />
        <mat-icon matSuffix>phone</mat-icon>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <div mat-dialog-actions class="dialog-actions-buttons">
        <button mat-raised-button color="accent" (click)="onNoClick();">
          Cancelar
        </button>
        <button mat-raised-button color="primary" tabindex="-1" [disabled]="!phoneFormGroup.valid"
          (click)="savePhone(phoneFormGroup)">
          Salvar
        </button>
      </div>
    </form>
  </div>
</div>