.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px!important;
  min-width: 300px;
}

.container h3.mat-dialog-title{
  font-size: 22px!important;
  width: 100%;
  text-align: center;
}

@media (max-width: 360px){
  .container{
      min-width: 0px;
  }
}

.dialog-actions-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .dialog-actions-buttons button {
    width: 15em;
    height: 3em;
  }