<div fxFlexFill>

  <!-- <core-breadcrumb [model]="breadcrumbModel"></core-breadcrumb>

  <div class="m-b-25">
    <label class="mat-display-1 page-title">
      Senha Transação
    </label>
  </div> -->

  <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>

    <div class="card-box">

      <mat-card class="mat-elevation-z2">

        <mat-card-content>

          <div class="text-center m-b-20 font-light-bold">
            <label>
              Crie sua senha para as transações presenciais
            </label>
          </div>

          <form [formGroup]="passwordForm">

            <mat-form-field appearance="outline">
              <mat-label>
                Senha
              </mat-label>
              <mat-icon matSuffix (click)="hide1 = !hide1" class="icone"
                [color]="passwordForm.get('password').hasError('required') && passwordForm.get('password').touched ? 'warn' : 'primary'">
                {{hide1 ? 'visibility': 'visibility_off'}}
              </mat-icon>
              <input matInput formControlName="password" [type]="hide1 ? 'password': 'text'">
              <mat-error class="spacemensage">
                Obrigatório
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>
                Confirme senha
              </mat-label>
              <mat-icon matSuffix (click)="hide2 = !hide2" class="icone"
                [color]="passwordForm.get('passwordconfirm').hasError('required') && passwordForm.get('passwordconfirm').touched ? 'warn' : 'primary'">
                {{hide2 ? 'visibility': 'visibility_off'}}
              </mat-icon>
              <input matInput formControlName="passwordconfirm" [type]="hide2 ? 'password': 'text'">
              <mat-error class="spacemensage">
                Senhas não são iguais
              </mat-error>

            </mat-form-field>

            <button mat-flat-button color="primary" class="btn-block btn-submit m-t-10" (click)="submit()">
              Criar senha
            </button>

          </form>

        </mat-card-content>

      </mat-card>

    </div>

  </div>

</div>