@import '~src/app/@core/styles/breakpoints';

:host {
  .card-box {
    margin: 0 15px;
    vertical-align: middle;
  }
  
  .btn-submit {
    height: 60px;
    margin-top: 10px;
  }
  
  .spacemensage {
    padding-bottom: 5px !important;
  }
  
  .icone {
    cursor: pointer;
  }

  .green-snackbar {
    margin: auto;
    text-align: center;
    color: green;
  }
}