@import "src/app/@core/styles/variables";

.footer {
  background-color: white;

	@include get-primary-footer-background-color();
	
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 12px;
	position: fixed;

	p {
		margin: 0;
	}

	.content {
		padding: 5px 10px;
	}
}