<div>

  <core-breadcrumb [model]="breadcrumbModel"></core-breadcrumb>

  <div class="m-b-25">
    <label class="mat-display-1 page-title">
      Lançamentos Futuros
    </label>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="1% grid">

    <div fxFlex.gt-sm="20%" fxFlex.sm="40%" fxFlex.xs="100%">

      <mat-expansion-panel class="mat-elevation-z0 custom-card">
        <mat-expansion-panel-header>
          Saldo disponível
        </mat-expansion-panel-header>
        <div>
          <strong *ngIf="balance">
            {{balance.balanceCompany | currency : 'R$ '}}
          </strong>

          <strong *ngIf="!balance">
            Nenhum saldo encontrado
          </strong>
        </div>
      </mat-expansion-panel>

    </div>

    <div fxFlex.gt-sm="80%" fxFlex.sm="60%" fxFlex.xs="100%" fxLayoutAlign="center center">

      <div fxFlex.gt-sm="40%" fxFlex.sm="100%" fxFlex.xs="100%">
        <mat-button-toggle-group class="tab-type" fxLayout="row wrap" fxFlex="100%" value="primary">
          <mat-button-toggle value="primary" fxFlex="50%" [checked]="pageType == 'EXTRACT'"
            (change)="changePageType('EXTRACT')">
            Extrato
          </mat-button-toggle>
          <mat-button-toggle value="accent" fxFlex="50%" [checked]="pageType == 'FUTURE_POSTINGS'"
            (change)="changePageType('FUTURE_POSTINGS')">
            Lançamentos Futuros
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

    </div>

  </div>

  <div fxLayout="row wrap" fxLayoutGap="1% grid" class="m-t-25" fxLayoutAlign="end center">

    <div fxFlex="100%" *ngIf="isLoading">
      <div class="h-200 loading-data m-t-25" *ngIf="isLoading">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
    </div>

    <div fxFlex="100%" fxLayoutAlign="center center" fxLayout="row wrap"
      *ngIf="(!model || !model?.content || model?.content?.length == 0) && !isLoading">
      <label class="m-t-20">
        Nenhum lançamento futuro encontrado
      </label>
    </div>

    <div fxFlex="100%" fxLayoutAlign="start start" fxLayout="row wrap" *ngIf="model?.content?.length > 0 && !isLoading">

      <mgl-timeline [side]="'right'" [alternate]="false" fxFlex="100%" [mobileWidthThreshold]="90000" [toggle]="true"
        class="timeline" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()" [scrollWindow]="false" #divTimeline>

        <mgl-timeline-entry *ngFor="let item of model?.content">

          <mgl-timeline-entry-header (click)="onHeaderClick($event)" class="timeline-header">

            <table>

              <tr>
                <th>
                  Data Liquidação
                </th>
                <th>
                  Tipo de Transação
                </th>
                <th>
                  Data Transação
                </th>
                <th>
                  Valor Liquido
                </th>
              </tr>
              <tr>
                <td>
                  {{item.dateTransaction | date : 'dd/MM/yyyy'}}
                </td>
                <td>
                  {{item.typeTransaction}}
                </td>
                <td>
                  {{item.dueDate | date : 'dd/MM/yyyy'}}
                </td>
                <td>
                  {{item.valueLiquid | currency : 'R$ '}}
                </td>
              </tr>

            </table>

            <!-- <div class="timeline-header" fxFlex="100%" fxLayout="row wrap">
              Data Liquidação
            </div> -->

          </mgl-timeline-entry-header>

          <mgl-timeline-entry-content>

          </mgl-timeline-entry-content>

          <mgl-timeline-entry-dot (click)="onDotClick($event)">
            <div fxLayout="row wrap" fxLayoutAlign="center center" class="h-100-p">
              <mat-icon class="timeline-icon">
                credit_card
              </mat-icon>
            </div>
          </mgl-timeline-entry-dot>

          <!-- <mgl-timeline-entry-side>2020</mgl-timeline-entry-side> -->

        </mgl-timeline-entry>

      </mgl-timeline>

    </div>

  </div>

</div>