<div>

  <core-breadcrumb [model]="breadcrumbModel"></core-breadcrumb>

  <div class="m-b-25">
    <label class="mat-display-1 page-title">
      Lançamentos Futuros
    </label>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="1% grid">

    <div fxFlex.gt-sm="20%" fxFlex.sm="40%" fxFlex.xs="100%">

      <mat-expansion-panel class="mat-elevation-z0 custom-card">
        <mat-expansion-panel-header>
          Saldo disponível
        </mat-expansion-panel-header>
        <div>
          <strong *ngIf="balance">
            {{balance.reserveBalance | currency : 'R$ '}}
          </strong>

          <strong *ngIf="!balance">
            Nenhum saldo encontrado
          </strong>
        </div>
      </mat-expansion-panel>

    </div>

    <div fxFlex.gt-sm="80%" fxFlex.sm="60%" fxFlex.xs="100%" fxLayoutAlign="center center">

      <div fxFlex.gt-sm="40%" fxFlex.sm="100%" fxFlex.xs="100%">
        <mat-button-toggle-group class="tab-type" fxLayout="row wrap" fxFlex="100%" value="primary">
          <mat-button-toggle value="primary" fxFlex="50%" [checked]="pageType == 'EXTRACT'" (change)="changePageType('EXTRACT')">
            Extrato
          </mat-button-toggle>
          <mat-button-toggle value="accent" fxFlex="50%" [checked]="pageType == 'FUTURE_POSTINGS'" (change)="changePageType('FUTURE_POSTINGS')">
            Lançamentos Futuros
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

    </div>

  </div>

  <div fxLayout="row wrap" fxLayoutGap="1% grid" class="m-t-25" fxLayoutAlign="end center">

    <div fxFlex.gt-xs="30%" fxFlex.xs="0%">

    </div>

    <div fxFlex.gt-xs="70%" fxFlex.xs="100%" class="filter-days">

      <div fxFlex="100%" class="text-right" fxLayout="row wrap" fxLayoutAlign="end center">

        <div *ngFor="let filterDay of filterDays; let first = first" class="div-filter-days">

          <button mat-flat-button color="primary" *ngIf="filterDay.active == true">
            {{filterDay.text}}
          </button>

          <button mat-stroked-button color="primary" *ngIf="filterDay.active == false"
            (click)="changeFilterDays(filterDay)">
            {{filterDay.text}}
          </button>

        </div>

      </div>

    </div>

    <div fxFlex="100%">

      <mat-expansion-panel class="mb-16 mat-elevation-z0 custom-card filter-panel" [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Filtros
          </mat-panel-title>
        </mat-expansion-panel-header>

        <form [formGroup]="form" *ngIf="form">

          <div fxLayout="row wrap" fxLayoutGap="1% grid">

            <div fxFlex="100%" fxLayoutGap="1%">

              <div fxLayoutAlign="center center" class="height-form-field m-l-10"
                [ngClass]="filterType == 0 ? 'no-pointer-events' : ''">
                <mat-checkbox color="primary" [checked]="filterType == 0" (change)="changeFilterType(0)">
                  Data Transação
                </mat-checkbox>
              </div>

              <div fxLayoutAlign="center center" class="height-form-field">
                <label>
                  Período
                </label>
              </div>

              <mat-form-field appearance="outline" fxFlex.sm="30%" fxFlex.gt-sm="15%" fxFlex.xs="100%"
                floatLabel="always" [ngClass.xs]="'no-padding'" class="text-center date-form-field"
                (click)="openDatePicker(1)" [matTooltip]="filterType == 0 ? 'Selecionar Data' : ''"
                [matTooltipPosition]="'above'">

                <mat-label>
                </mat-label>

                <input matInput [matDatepicker]="picker1" formControlName="transaction_date_start"
                  placeholder="__/__/____" readonly [max]="form.get('transaction_date_end').value">

                <mat-datepicker-toggle matSuffix [for]="picker1" color="primary"></mat-datepicker-toggle>

                <mat-datepicker #picker1></mat-datepicker>

                <mat-error *ngIf="form.get('transaction_date_start').hasError('required')">
                  Data inválida
                </mat-error>
              </mat-form-field>

              <div fxLayoutAlign="center center" class="height-form-field">
                <label>
                  Até
                </label>
              </div>

              <mat-form-field appearance="outline" fxFlex.sm="30%" fxFlex.gt-sm="15%" fxFlex.xs="100%"
                floatLabel="always" [ngClass.lt-md]="'no-padding'" class="text-center date-form-field"
                (click)="openDatePicker(2)" [matTooltip]="filterType == 0 ? 'Selecionar Data' : ''"
                [matTooltipPosition]="'above'">

                <mat-label>
                </mat-label>

                <input matInput [matDatepicker]="picker2" formControlName="transaction_date_end"
                  placeholder="__/__/____" readonly [min]="form.get('transaction_date_start').value" [max]="todayDate">

                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>

                <mat-datepicker #picker2></mat-datepicker>

                <mat-error *ngIf="form.get('transaction_date_end').hasError('required')">
                  Data inválida
                </mat-error>
                <mat-error *ngIf="form.get('transaction_date_end').hasError('invalidEndDate')">
                  Data Final menor que Inicial
                </mat-error>
              </mat-form-field>

              <div fxLayoutAlign="center center" class="height-form-field">
                <mat-checkbox formControlName="transaction_desc" color="primary">
                  Decrescente
                </mat-checkbox>
              </div>

            </div>

            <div fxFlex="100%" fxLayoutGap="1%">

              <div fxLayoutAlign="center center" class="height-form-field m-l-10"
                [ngClass]="filterType == 1 ? 'no-pointer-events' : ''">
                <mat-checkbox color="primary" [checked]="filterType == 1" (change)="changeFilterType(1)">
                  Data Liquidação
                </mat-checkbox>
              </div>

              <div fxLayoutAlign="center center" class="height-form-field">
                <label>
                  Período
                </label>
              </div>

              <mat-form-field appearance="outline" fxFlex.sm="30%" fxFlex.gt-sm="15%" fxFlex.xs="100%"
                floatLabel="always" [ngClass.xs]="'no-padding'" class="text-center date-form-field"
                (click)="openDatePicker(3)" [matTooltip]="filterType == 1 ? 'Selecionar Data' : ''"
                [matTooltipPosition]="'above'">

                <mat-label>
                </mat-label>

                <input matInput [matDatepicker]="picker3" formControlName="liquidation_date_start"
                  placeholder="__/__/____" readonly [max]="form.get('liquidation_date_end').value">

                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>

                <mat-datepicker #picker3></mat-datepicker>

                <mat-error *ngIf="form.get('liquidation_date_start').hasError('required')">
                  Data inválida
                </mat-error>
              </mat-form-field>

              <div fxLayoutAlign="center center" class="height-form-field">
                <label>
                  Até
                </label>
              </div>

              <mat-form-field appearance="outline" fxFlex.sm="30%" fxFlex.gt-sm="15%" fxFlex.xs="100%"
                floatLabel="always" [ngClass.lt-md]="'no-padding'" class="text-center date-form-field"
                (click)="openDatePicker(4)" [matTooltip]="filterType == 1 ? 'Selecionar Data' : ''"
                [matTooltipPosition]="'above'">
                <mat-label>
                </mat-label>

                <input matInput [matDatepicker]="picker4" formControlName="liquidation_date_end"
                  placeholder="__/__/____" readonly [min]="form.get('liquidation_date_start').value" [max]="todayDate">

                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>

                <mat-datepicker #picker4></mat-datepicker>

                <mat-error *ngIf="form.get('liquidation_date_end').hasError('required')">
                  Data inválida
                </mat-error>
                <mat-error *ngIf="form.get('liquidation_date_end').hasError('invalidEndDate')">
                  Data Final menor que Inicial
                </mat-error>
              </mat-form-field>

              <div fxLayoutAlign="center center" class="height-form-field">
                <mat-checkbox formControlName="liquidation_desc" color="primary">
                  Decrescente
                </mat-checkbox>
              </div>

            </div>

          </div>

          <div fxLayout="row" class="mt-16 mb-16">
            <button mat-flat-button color="primary" class="m-r-10" fxFlex.gt-sm="15%" fxFlex.xs="50%" fxFlex.sm="30%"
              (click)="filter()">
              FILTRAR
            </button>
          </div>

        </form>

      </mat-expansion-panel>

    </div>

    <div fxFlex="100%" *ngIf="isLoading">
      <div class="h-200 loading-data m-t-25" *ngIf="isLoading">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
    </div>

    <div fxFlex="100%" fxLayoutAlign="center center" fxLayout="row wrap"
      *ngIf="(!model || !model?.content || model?.content?.length == 0) && !isLoading">
      <label class="m-t-20">
        Nenhum Lançamento Futuro encontrado
      </label>
    </div>

    <div fxFlex="100%" fxLayoutAlign="start start" fxLayout="row wrap" *ngIf="model?.content?.length > 0 && !isLoading">

      <mgl-timeline [side]="'right'" [alternate]="false" fxFlex="100%" [mobileWidthThreshold]="90000" [toggle]="true"
        class="timeline">

        <mgl-timeline-entry *ngFor="let item of model?.content">

          <mgl-timeline-entry-header (click)="onHeaderClick($event)" class="timeline-header">

            <table>

              <tr>
                <th>
                  Data Liquidação
                </th>
                <th>
                  Tipo de Transação
                </th>
                <th>
                  Data Transação
                </th>
                <th>
                  Valor Liquido
                </th>
              </tr>
              <tr>
                <td>
                  {{item.dateTransaction | date : 'dd/MM/yyyy'}}
                </td>
                <td>
                  {{item.transactionType}}
                </td>
                <td>
                  {{item.dueDate | date : 'dd/MM/yyyy'}}
                </td>
                <td>
                  {{item.valueLiquid | currency : 'R$ '}}
                </td>
              </tr>

            </table>

          </mgl-timeline-entry-header>

          <mgl-timeline-entry-content>

          </mgl-timeline-entry-content>

          <mgl-timeline-entry-dot (click)="onDotClick($event)">
            <div fxLayout="row wrap" fxLayoutAlign="center center" class="h-100-p">
              <mat-icon class="timeline-icon">
                credit_card
              </mat-icon>
            </div>
          </mgl-timeline-entry-dot>

        </mgl-timeline-entry>

      </mgl-timeline>

    </div>

  </div>

</div>