<div fxFlexFill>

  <core-breadcrumb [model]="breadcrumbModel"></core-breadcrumb>

  <div class="m-b-25">
    <label class="mat-display-1 page-title">
      Editar Usuário
    </label>
  </div>

  <mat-expansion-panel class="m-b-25" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Detalhes
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field appearance="outline" *ngIf="profile">
      <mat-label>Empresa</mat-label>
      <input matInput placeholder="Empresa" [(ngModel)]="profile.nameProfile" name="name" required />
      <mat-icon matSuffix>business_center</mat-icon>
      <mat-error *ngIf="formControl.invalid">{{
        getErrorMessage()
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="profile">
      <mat-label>Descrição</mat-label>
      <input matInput placeholder="Descrição" [(ngModel)]="profile.description" name="description" required />
      <mat-icon matSuffix>subject</mat-icon>
      <mat-error *ngIf="formControl.invalid">{{
        getErrorMessage()
      }}</mat-error>
    </mat-form-field>
  </mat-expansion-panel>

  <div fxLayout="row wrap">
    <div fxFlex>
      <core-back-button (click)="back()" fxFlex>Voltar </core-back-button>
    </div>

    <div fxFlex>
      <core-save-button (click)="updateProfile()" fxFlex>Criar </core-save-button> 
    </div>
  </div>

</div>