
<div class="user-profile" style="background: url(assets/images/background/user-info.jpg) no-repeat;">

  <div class="profile-img"> <img src="assets/images/users/profile.png" alt="user"> </div>

  <div class="profile-text">
    <div>
      Usuário não logado
    </div>
  </div>

</div>

<mat-nav-list accordion>
  <span *ngFor="let item of menuList; let last = last">

    <span *ngIf="item.children && item.children.length > 0">

      <mat-accordion>

        <mat-expansion-panel class="mat-elevation-z0" [expanded]="item.open">

          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-icon color="primary">
                  {{item.icon_name}}
                </mat-icon>
                {{item.display_name}}
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <span *ngFor="let child of item.children" accordion-link routerLinkActive="selected" [menuItem]="item"
            [group]="child.route">
            <mat-list-item [routerLink]="[child.route]">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-icon color="primary">
                  {{child.icon_name}}
                </mat-icon>
                {{child.display_name}}
              </div>
            </mat-list-item>
          </span>

        </mat-expansion-panel>

      </mat-accordion>

    </span>

    <span *ngIf="!item.children || item.children.length === 0" accordion-link routerLinkActive="selected"
      [menuItem]="item" [group]="item.route">
      <mat-list-item [routerLink]="[item.route]" [ngClass]="last ? 'm-b-20' : ''">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-icon color="primary">
            {{item.icon_name}}
          </mat-icon>
          {{item.display_name}}
        </div>
      </mat-list-item>
    </span>

  </span>

</mat-nav-list>