@import "src/app/@core/styles/variables";

mat-nav-list {
    .mat-list-item {
        font-size: 13px !important;
        font-weight: 500 !important;
        color: inherit !important;
        padding: 0 10px !important;

        .mat-list-item-content {
            padding: 0 6px !important;
        }
    }

    mat-icon {
        margin-right: 8px;
    }

    mat-expansion-panel {
        padding: 0 10px;

        .mat-expansion-panel-header {
            padding: 0 6px !important;
            font-weight: 500 !important;
            font-size: 13px !important;

            .mat-expansion-indicator {
                margin-right: 10px;

                &::after {
                    @include get-primary-color();
                }
            }
        }

        .mat-list-item, .mat-list-item-content {
            padding: 0px !important;
        }
    }

    .selected .mat-list-item-content {
        @include get-primary-background-color();
    
        border-radius: $radius;
        color: white;
    
        mat-icon {
            color: white !important;
        }
    }
}

.user-profile {
    position: relative;
    background-size: cover;

    .profile-img {
        width: 50px;
        margin-left: 30px;
        padding: 31px 0;
        border-radius: 100%;

        &::before {
            -webkit-animation: 2.5s blow 0s linear infinite;
            animation: 2.5s blow 0s linear infinite;
            position: absolute;
            content: "";
            width: 50px;
            height: 50px;
            top: 31px;
            margin: 0 auto;
            border-radius: 50%;
            z-index: 0;
        }

        @-webkit-keyframes blow {
            0% {
                box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
                opacity: 1;
                -webkit-transform: scale3d(1, 1, 0.5);
                transform: scale3d(1, 1, 0.5);
            }

            50% {
                box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
                opacity: 1;
                -webkit-transform: scale3d(1, 1, 0.5);
                transform: scale3d(1, 1, 0.5);
            }

            100% {
                box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
                opacity: 0;
                -webkit-transform: scale3d(1, 1, 0.5);
                transform: scale3d(1, 1, 0.5);
            }
        }

        @keyframes blow {
            0% {
                box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
                opacity: 1;
                -webkit-transform: scale3d(1, 1, 0.5);
                transform: scale3d(1, 1, 0.5);
            }

            50% {
                box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
                opacity: 1;
                -webkit-transform: scale3d(1, 1, 0.5);
                transform: scale3d(1, 1, 0.5);
            }

            100% {
                box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
                opacity: 0;
                -webkit-transform: scale3d(1, 1, 0.5);
                transform: scale3d(1, 1, 0.5);
            }
        }

        img {
            width: 100%;
            border-radius: 100%;
        }
    }

    .profile-text {
        padding: 5px 0px;
        position: relative;
        cursor: pointer;
        white-space: nowrap;

        > div {
            color: white !important;
            width: 100%;
            padding: 6px 30px;
            background: rgba(0, 0, 0, 0.5);
            display: block;
            white-space: nowrap;

            &:after {
                position: absolute;
                right: 20px;
                top: 20px;
            }
        }
    }
}
